.productsPage {
    background-color: pink;
    min-height: 100vh;
    position: relative;
    display: block;
    .productsTitle{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100px
    }
}