.tovarInfoPage {
    min-height: 100vh;
    background-color: pink;
    width: 100%;
    max-width: 100%;
    position: relative;
    font-family: 'Merienda';
 
   
.tovarInfoPage::-webkit-scrollbar {
    width: 0 !important;
  }
    .puschaseCard {
        max-width: 80%;
        width: 100%;
   
margin: 0 auto;
height: 500px;

.puschaseCard::-webkit-scrollbar {
    width: 0 !important;
  }
 .puschaseCard::-webkit-scrollbar {
  display: none;
  }
  
  
   .puschaseCard::-webkit-scrollbar-thumb {
    display: none;
  }
  
  /* For the scrollbar track when hovered */
   .puschaseCard::-webkit-scrollbar-thumb:hover {
    display: none;
  }

  scrollbar-width: none; /* Убираем полосу скроллинга в Firefox */
  -ms-overflow-style: none; /* Убираем полосу скроллинга в IE/Edge */
position: relative;
overflow-y: scroll;
border-top-left-radius: 20px ;
border-top-right-radius: 20px ;
top: 50px;
    }
    .purchaseCardWrapper {
        position: relative;
        display: block;
    }
    .purchasedCardFon {
       /* top: 0;
        left: 0;
        position: absolute; */
        border-top-left-radius: 20px ;
border-top-right-radius: 20px ;
        position: relative;
        margin: 0 auto;
        background-color: rgb(6, 6, 6);
        width: 100%;
        height: 100%;
        opacity: 0.3;
       // min-height: 600px;
        z-index: 0;
    }
    .purchaseCardImage {
position: absolute;

        height: 350px;
        width: 400px;
    }
    .itemTitle {
        position: absolute;
        right: 0;
        margin-right: 100px;
  
     top: 50px;
   //  margin-left: 100px;

    }
    .itemDescribtion {
        position: absolute;
        right: 0;
        margin-right: 100px;
     top: 150px;
// margin-left: 100px;

    }
    .itemCountry {
        position: absolute;
        right: 0;
        margin-right: 100px;
     top: 100px;
   //  margin-left: 100px;

    }
    .itemNew {
        width: 100px;
        height: 100px;
        position: absolute;
        z-index: 123;
        top: 260px;
        left: -30px;
     //   margin-right: 50px;
    }
    .buyBtn {
        width: 200px;
        height: 50px;
        background-color: purple;
    
        position: absolute;
      //  left: 50%;
        //transform: translateX(-50%);
        //margin-left: 200px;
        right: 0;
        margin-right: 300px;
        color: #fff;
        top: 420px;
        cursor: pointer;
        z-index: 11111;
    }
    .priceOfItem{
     /*   position: absolute;
      left: 50%;
      transform: translateX(-50%);
      margin-left: 100px;
      top: 350px; */

      position: absolute;
      right: 0;
      margin-right: 100px;
   top: 200px;
    }
    .itemSale {
        width: 100px;
        height: 100px;
     position: absolute;
     right: 0;
     top: 260px;
    }
    .imagePurchaseBlock{
        position: absolute;
        width: 450px;
        height: 400px;
        left: 100px;
        top: 50px;
        z-index: 1111;
    }
    
}
.tt {
    width: 200px;
    height: 200px;
    background-color: red;
}

.purchaseLine {
    display: flex;
    justify-content: space-between;
}

@media(max-width: 1400px){
 
}