.navigation {
   position: relative;
    width: 100%;
    max-width: 100%;
    z-index: 1;
    height: 60px;
   .navigationWrapper {
   display: flex;
   max-width: 90%;
   width: 100%;
   }
   .navigationItem {
       margin-left: 60px;
       margin-top: 20px;
       color: #fff;
       font-weight: 800;
       z-index: 1;
       cursor: pointer;
   }
   .navigationFon {
    position: absolute;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background-color: red;
    left: 0;
    z-index: 0;
   }
   .searchNavigation {
    width: 350px;
    height: 20px;
  //  background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    border-radius: 10px;
   }
  .searchNavigation::placeholder {
  //  color: #fff;
  color: black;
    font-weight: 800;
    padding-left: 20px;
  }
  .navigationItemUser {
    display: flex;
    
  }
  .signInBtn, .signUpBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #fff;
  }
  .signInBtn {
    margin-left: 20px;
  }
  .logoOfWebPage{
    width: 50px;
    height: 50px;
    transform: translateY(-10px) rotate(270deg);
  }
  .searchedItems {
    width: 100%;
    background-color: #fff;
     color: black;
     text-align: center;
  }
  .searchedItem {
    border-bottom: 2px solid black;
    height: 30px;
  }
}
/*
sass navigation.scss navigation.css
Error reading navigation.scss: no such file or directory.
PS C:\Users\LENOVO\log>  npm install -g sass

changed 17 packages in 2s

2 packages are looking for funding
  run `npm fund` for details      
PS C:\Users\LENOVO\log> sass navigation.scss navigation.css
Error reading navigation.scss: no such file or directory.
PS C:\Users\LENOVO\log> sass navigation.scss navigation.css
Error reading navigation.scss: no such file or directory.
PS C:\Users\LENOVO\log> 
*/