@media (max-width: 1020px){
    .navigationItem{
        margin-left: 20px;
        margin-top: 20px;
        color: #fff;
        font-weight: 800;
        z-index: 1;
        cursor: pointer;
        white-space: nowrap;
     
    }
  
  }