.addToFavourite{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 400px;
    margin-right: 150px;
}
.addToFavouriteItem {
    position: absolute;
    width: 200px;
    height: 70px;
    background-color: rgb(56, 204, 56);
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
}